<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>

<nav th:replace="fragments/header :: nav"></nav>

<div id="admin-section">
    <div class="admin-inner">
        <div class="container">
            <div class="d-flex flex-row">

                <!--Admin sidebar-->
                <div th:replace="fragments/adminSidebar :: admin-sidebar"></div>

                <!--Admin content-->
                <div id="admin-content">
                    <div class="row mb-2">
                        <div class="col-lg-12 d-flex flex-wrap align-content-start">
                            <!--Search receipt-->
                            <div class="row col-lg-12 d-flex flex-nowrap pb-2">
                                <div class="input-group">
                                    <select class="custom-select" id="search-receipt-dropdown"
                                            onchange="saveSearchParameters(this);">
                                        <option value="Müşteri Adı">Müşteri Adı</option>
                                        <option value="Müşteri Soyadı">Müşteri Soyadı</option>
                                    </select>
                                    <input type="text" id="searchReceiptBar"
                                           onkeyup='saveSearchParameters(this);'
                                           placeholder="Fiş ara.." class="form-control"
                                           aria-label="Giriş yapın...">
                                </div>
                                <button type="button" class="btn btn-secondary ml-2"
                                        onclick="searchReceiptByProperty()">Ara
                                </button>
                            </div>

                            <div class="row col-lg-12">
                                <!--Table with Receipts-->
                                <table class="table-responsive table-striped table-bordered" id="receipt-table">
                                    <thead class="thead">
                                    <tr>
                                        <th onclick="sortTableReceipts(0)">ID</th>
                                        <th onclick="sortTableReceipts(1)">Müşteri</th>
                                        <th onclick="sortTableReceipts(2)">Ürün</th>
                                        <th onclick="sortTableReceipts(3)">Marka</th>
                                        <th onclick="sortTableReceipts(4)">Model</th>
                                        <th>Teslimat</th>
                                        <th onclick="sortTableReceipts(5)">Seri No</th>
                                        <th onclick="sortTableReceipts(6)">Fiş Tarihi</th>
                                        <th onclick="sortTableReceipts(7)">Başlangıç</th>
                                        <th onclick="sortTableReceipts(8)">Bitiş</th>
                                        <th onclick="sortTableReceipts(9)">Teslimat</th>
                                        <th>Problem</th>
                                        <th>Garantili</th>
                                        <th>Yedek Var</th>
                                        <th>İşlem</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="receipt-table-body">
                                    <tr th:each="receipt : ${receipts}">
                                        <td th:text="${receipt.id}"></td>
                                        <td th:text="${receipt.client.name} + ' ' + ${receipt.client.surname}"></td>
                                        <td th:text="${receipt.product.name}"></td>
                                        <td th:text="${receipt.brand.name}"></td>
                                        <td th:text="${receipt.productModel.name}"></td>
                                        <td th:text="${receipt.delivery.name}"></td>
                                        <td th:text="${receipt.serialNumber}"></td>
                                        <td th:text="${receipt.dateOfReceipt}"></td>
                                        <td th:text="${receipt.dateOfStartToRepair}"></td>
                                        <td th:text="${receipt.dateOfEndingRepair}"></td>
                                        <td th:text="${receipt.dateOfDeliverToClient}"></td>
                                        <td th:text="${receipt.problem}"></td>
                                        <td th:text="${receipt.underWarranty}"></td>
                                        <td th:text="${receipt.hasBackup}"></td>

                                        <!--Edit receipt button-->
                                        <td><a style="text-decoration: none; color:blue"
                                               th:href="@{/adminPage/receipts/{id}(id=${receipt.id})}"
                                               class="editBtn" data-toggle="tooltip"
                                               data-placement="right" title="Düzenle">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        </td>
                                        <td>
                                            <a style="text-decoration: none; color: red;"
                                               th:href="@{/adminPage/receipts/delete/{id}(id=${receipt.id})}"
                                               data-toggle="tooltip" data-placement="right" title="Sil"
                                               onclick="return confirm('Silmek istediğinize emin misiniz?');">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-lg-3 pl-0">
                            <!--Delete success message-->
                            <div id="alert-messages"></div>

                            <!--Save success message-->
                            <div th:if="${receiptHasBeenSaved}" class="alert alert-success alert-dismissible fade show"
                                 role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Başarılı!</strong> Fiş kaydı yapıldı!!!
                            </div>

                            <!--Update success message-->
                            <div th:if="${receiptHasBeenUpdated}"
                                 class="alert alert-success alert-dismissible fade show"
                                 role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Başarılı!</strong> Fiş güncellendi!!!
                            </div>

                            <!--Number format exception message-->
                            <div th:if="${numberFormatException}" class="alert alert-danger alert-dismissible
                            fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                Geçerli bir sayı girin...
                            </div>

                            <!--No matches found message-->
                            <div th:if="${noMatches}" class='alert alert-info alert-dismissible fade show' role='alert'>
                                <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
                                    <span aria-hidden='true'>&times;</span>
                                </button>
                                Kayıt bulunamadı <span th:text="${receiptsProperty}"></span> =
                                <span th:text="${propertyValue}"></span>
                            </div>
                        </div>
                    </div>

                    <a href="#" th:href="@{/adminPage/receipts/newReceipt}">
                        <button type="button" class="btn btn-primary">Yeni Kayıt</button>
                    </a>

                    <!--Paging-->
                    <div id="paging-section" class="row" style="margin-top: 10px;">

                        <!--Page size dropdown-->
                        <div class="form-group col-md-1" th:if="${receipts.totalPages != 0}">

                            <!--Get pageSizesToShow-->
                            <div hidden id="pageSizesToShow"
                                 th:attr="data-pageSizesToShow = ${pager.pageSizesToShowInJSON}"></div>

                            <select class="form-control pagination" id="pageSizeSelect">
                                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                                        th:selected="${pageSize} == ${selectedPageSize}"></option>
                            </select>
                        </div>

                        <!--Pages-->
                        <nav aria-label="Page navigation example" class="form-group col-md-11 pagination-centered">
                            <ul class="pagination" th:if="${receipts.totalPages != 0}">
                                <li th:class="${receipts.number == 0} ? 'page-item disabled'" class="page-item">
                                    <a th:if="${not #strings.isEmpty(propertyValue)}"
                                       class="page-link"
                                       th:href="@{/adminPage/receipts(receiptsProperty=${receiptsProperty},
                                       propertyValue=${propertyValue}, pageSize=${selectedPageSize}, page=1)}">
                                        &laquo;
                                    </a>

                                    <a th:if="${#strings.isEmpty(propertyValue)}"
                                       class="page-link"
                                       th:href="@{/adminPage/receipts(pageSize=${selectedPageSize}, page=1)}">
                                        &laquo;
                                    </a>
                                </li>
                                <li th:class="${receipts.number == 0} ? 'page-item disabled'" class="page-item">
                                    <a th:if="${not #strings.isEmpty(propertyValue) }"
                                       class="page-link"
                                       th:href="@{/adminPage/receipts(receiptsProperty=${receiptsProperty},
                                       propertyValue=${propertyValue}, pageSize=${selectedPageSize}, page=${receipts.number})}">
                                        &larr;
                                    </a>

                                    <a th:if="${#strings.isEmpty(propertyValue)}"
                                       class="page-link"
                                       th:href="@{/adminPage/receipts(pageSize=${selectedPageSize}, page=${receipts.number})}">
                                        &larr;
                                    </a>
                                </li>
                                <li th:class="${receipts.number == (page - 1)} ? 'active pointer-disabled'"
                                    class="page-item"
                                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                                    <a th:if="${not #strings.isEmpty(propertyValue)}"
                                       class="page-link"
                                       th:href="@{/adminPage/receipts(receiptsProperty=${receiptsProperty},
                                       propertyValue=${propertyValue}, pageSize=${selectedPageSize}, page=${page})}"
                                       th:text="${page}">
                                    </a>
                                    <a th:if="${#strings.isEmpty(propertyValue)}"
                                       class="page-link"
                                       th:href="@{/adminPage/receipts(pageSize=${selectedPageSize}, page=${page})}"
                                       th:text="${page}">
                                    </a>
                                </li>
                                <li th:class="${receipts.number + 1 == receipts.totalPages} ? 'page-item disabled'"
                                    class="page-item">
                                    <a th:if="${not #strings.isEmpty(propertyValue)}"
                                       class="page-link"
                                       th:href="@{/adminPage/receipts(receiptsProperty=${receiptsProperty},
                                       propertyValue=${propertyValue}, pageSize=${selectedPageSize}, page=${receipts.number + 2})}">
                                        &rarr;
                                    </a>
                                    <a th:if="${#strings.isEmpty(propertyValue)}"
                                       class="page-link"
                                       th:href="@{/adminPage/receipts(pageSize=${selectedPageSize}, page=${receipts.number + 2})}">
                                        &rarr;
                                    </a>
                                </li>
                                <li th:class="${receipts.number + 1 == receipts.totalPages} ? 'page-item disabled'"
                                    class="page-item">
                                    <a th:if="${not #strings.isEmpty(propertyValue) }"
                                       class="page-link"
                                       th:href="@{/adminPage/receipts(receiptsProperty=${receiptsProperty}, propertyValue=${propertyValue},
                                       pageSize=${selectedPageSize}, page=${receipts.totalPages})}">
                                        &raquo;
                                    </a>
                                    <a th:if="${#strings.isEmpty(propertyValue)}"
                                       class="page-link"
                                       th:href="@{/adminPage/receipts(pageSize=${selectedPageSize}, page=${receipts.totalPages})}">
                                        &raquo;
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>


<div th:replace="fragments/jsScripts :: scripts"></div>


</body>
</html>
