<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>İşlemler</title>
</head>
<body>

<div th:fragment="scripts">
    <!--<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"-->
            <!--src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>-->
    <script th:src="@{/js/popper.min.js}">
    </script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}">
    </script>

    <script  type="text/javascript" charset="utf8" th:src="@{/webjars/datatables/1.10.20/js/jquery.dataTables.js}"></script>

    <script th:src="@{/js/c0c323679c.js}"></script>
    <script th:src="@{/js/ajax.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/select2.min.js}"></script>

</div>
</body>
</html>
